@PANEL_WIDTH: 15em; // Change this value to modify the width of the pane
@ANIMATION_DURATION: 0.3s;
@ANIMATION_STYLE:  ease-in-out;

.animateTransform(){
  -moz-transition: -moz-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  -webkit-transition: -webkit-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  -ms-transition: -mstransform @ANIMATION_DURATION @ANIMATION_STYLE;
  transition: transform @ANIMATION_DURATION @ANIMATION_STYLE;
}

.translate(@val){
  -webkit-transform: translate3d(@val, 0px, 0px);
  transform: translate3d(@val, 0px, 0px);
}

.d-side-pane{
  width: @PANEL_WIDTH;
  height: 100%;
  top: 0;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  .animateTransform()
}

.-d-side-pane-no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.-d-side-pane-start{
  left: 0;
  border-right: solid black 1px;
}

.-d-side-pane-end{
  right: 0;
  border-left: solid black 1px;
}

// PUSH/OVERLAY Start position
.-d-side-pane-start-push-hidden-pane, .-d-side-pane-start-overlay-hidden-pane{
  .translate(-@PANEL_WIDTH);
}

.-d-side-pane-start-push-visible-pane, .-d-side-pane-start-overlay-visible-pane{
  display: "";
  .translate(0px);
}

// PUSH/OVERLAY & End Position
.-d-side-pane-end-push-hidden-pane, .-d-side-pane-end-overlay-hidden-pane{
  right: 0;
  .translate(@PANEL_WIDTH);
}

.-d-side-pane-end-push-visible-pane, .-d-side-pane-end-overlay-visible-pane{
  display: "";
  right: 0;
  .translate(0px);
}

// Used by REVEAL and PUSH

.-d-side-pane-start-push-hidden-page{
  .translate(@PANEL_WIDTH);
  .animateTransform();
}

.-d-side-pane-start-push-visible-page{
  .translate(0px);
  .animateTransform();
}

.-d-side-pane-end-push-hidden-page{
  .translate(-@PANEL_WIDTH);
  .animateTransform();
}
.-d-side-pane-end-push-visible-page{
  .translate(0px);
  .animateTransform();
}

.-d-side-pane-end-reveal-visible-pane, .-d-side-pane-end-reveal-hidden-pane {
  right: 0;
}