@ANIMATION_DURATION: .3s;
@ANIMATION_STYLE:  ease-in-out;

.duiViewStack {
  box-sizing: border-box !important;
  overflow-x: hidden !important;
  overflow-y: hidden;
  position: relative !important;
}

.duiBasicLayout > .duiViewStack {
  display: block !important; // Needed for IE10
}

.duiViewStack > * {
  position: absolute !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: 100% !important;
}

.duiViewStackSlideAnim {
  -moz-transition: -moz-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  -webkit-transition: -webkit-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  transition: transform @ANIMATION_DURATION @ANIMATION_STYLE;
}

.duiViewStackLeftTranslated{
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
}
.duiViewStackRightTranslated{
  -webkit-transform: translate3d(100%, 0px, 0px);
  transform: translate3d(100%, 0px, 0px);
}

.duiViewStackNotTranslated{
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

