@import "common";
@import "../common/global";

// ----------------------------------------------
// Theme  : ios
// Content:
//  - Tag selectors
//  - Custom CSS classes
// ----------------------------------------------

// ----------------------------------------------
// Tag selectors
// ----------------------------------------------
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  .text-size-adjust(none);
  font-family: Helvetica;
  font-size: 17px;
  background-color: #c5ccd3;
}

// ----------------------------------------------
// Custom CSS classes
// ----------------------------------------------

// EOF