@import "./includes";
// ----------------------------------------------
// holodark page level CSS definition
// ----------------------------------------------
html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	.text-size-adjust(none);
	//.mobile-body-styles;
	font-family: Helvetica;
	font-size: 17px;
	color: @holo-color;
	//.d-background-styles;
	background-color: @holo-base-color;
}
// EOF