.d-example-widget {
  color: #ffffff;
  background: #5877a2;
}
.d-example-widget.d-rtl {
  text-align: right;
}
.d-example-widget.d-rtl:before {
  content: "(RTL variant) ";
}
.d-example-widget:after {
  content: " (iOS theme)";
}
